body.homepage {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #d0a0b4;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logo {
    max-width: 20%;
    height: auto;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
}

.navbar {
    background: #cc94b4;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #8cacb4;
}

.btn {
    background: #8cacb4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #d0a0b4;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}
